@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffff;
  background: black;
  position: relative;
}

.rotation {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
